body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    font-family: 'Avenir';
}

.container{
    width: 1440px;
    height: 926px;
    border: 2px solid black;
}

h1{
    width: 833px;
    height: 176px;
    margin-top: 64px;
    margin-left: 64px;
    font-size: 65px;
    color: #252525;
}

.imagenes img{
    width: 316px;
    height: 402px;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
}

.imagenes{
    width: 1312px;
    height: 559px;
    margin-left: 64px;
    display: flex;
    gap: 16px;
}

.numeros{
    width: 316px;
    height: 55px;
    font-size: 40px;
    color: rgba(37, 37, 37, 0.35);
    font-weight: 800;
}