body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    font-family: 'Avenir';
}

.container{
    width: 1440px;
    height: 926px;
    border: 2px solid black;
}

h1{
    width: 833px;
    height: 176px;
    margin-top: 64px;
    margin-left: 64px;
    font-size: 65px;
    color: #252525;
}

.imagenes img{
    width: 316px;
    height: 402px;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
}

.imagenes{
    width: 1312px;
    height: 559px;
    margin-left: 64px;
    display: flex;
    gap: 16px;
}

.numeros{
    width: 316px;
    height: 55px;
    font-size: 40px;
    color: rgba(37, 37, 37, 0.35);
    font-weight: 800;
}

.texto{
    width: 316px;
    height: 66px;
    font-size: 25px;
    color: rgba(37, 37, 37, 0.8);
}

h3{
    width: 48px;
    height: 33px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 37, 37, 1);
}

.texto-abajo{
    width: 213px;
    padding: 24px 80px 24px 24px;
}

.imagen1{
    background-image: url("imagenes/imagen1carta7.png");
    background-size: cover;
    height: 400px;
    border-radius: 24px;
}

.imagen2{
    background-image: url("imagenes/imagen2carta7.png");
    background-size: cover;
    height: 400px;
    border-radius: 24px;
}

.imagen3{
    background-image: url("imagenes/imagen3carta7.png");
    background-size: cover;
    height: 400px;
    border-radius: 24px; 
}

.imagen4{
    background-image: url("imagenes/imagen4carta7.png");
    background-size: cover;
    height: 400px;
    border-radius: 24px; 
}