body{
    align-items: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    width: 1440px;
    height: 1024px;
    background-image: url(imagenes/imagenfondocarta55.jpg);
    border: 2px solid #252525;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.titulo{
    width: 400px;
    height: 300px;
    font-size: 80px;
    margin-left: 50px;
    margin-top: 50px;
    font-family: 'PT Serif';
}

.texto{
    width: 446px;
    height: 160px;
    font-size: 24px;
    color: black;
    margin-left: 50px;
}

.boton{
    width: 220px;
    height: 66px;
    border-radius: 40px;
    gap: 10px;
    font-size: 18px;
    margin-left: 50px;
    color: white;
    background-color: #0C0C0C;
    cursor: pointer;
}

.partederecha, img{
    width: 332px;
    height: 296px;
}

.partearriba{
    margin-left: 550px;
    margin-top: -300px;
}

.textoderecharriba{
    width: 332px;
    height: 78px;
    color: #E9E9E9;
    font-size: 20px;
    font-family: 'Figtree';
}

span{
    color: white;
    margin-left: -50px;

