body {
  font-family: 'Avenir';
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 1440px;
  height: 1139px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  border: 2px solid black;
}

h1 {
  font-size: 64px;
  margin: 0;
  font-weight: 800;
}

p {
  font-size: 26px;
  color:rgba(37, 37, 37, 0.8);
  width: 607px;
}

.explorar {
  background-color: #252525;
  color: white;
  width: 158px;
  height: 54px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 400;
}

.imagenes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  justify-content: center;
  width: 1312px;
  height: 592px;
  margin-left: 64px;
  margin-bottom: 64px;
}

.parrafo {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
