body {
  background: url("imagenes/Imagen\ Carta\ 16.png") no-repeat center
    center/cover;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  width: 600px;
  height: 140px;
  font-weight: 800;
  font-size: 64px;
  line-height: 72px;
  margin-left: 25px;
}

p {
  width: 600px;
  height: 100px;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  font-family: Poppins;
  margin-left: 25px;
}

.container {
  position: relative;
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.contenido {
  background: rgba(50, 50, 50, 0.8);
  border-radius: 10px;
  width: 600px;
  height: 400px;
  gap: 40px;
  margin-left: 50px;
  margin-top: -200px;
}

.boton {
  background-color: #63e1e1;
  margin-left: 25px;
  color: black;
  border-radius: 36px;
  width: 180px;
  height: 60px;
  gap: 10px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}

.informacion {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin-left: 1000px;
  transform: translateX(-50%);
}

.informacion {
  display: flex;
  border: 1px solid white;
  border-radius: 16px;
  padding: 18px 43px;
  background-image: linear-gradient(to bottom right, #030808, 10%, transparent);
  justify-content: space-between;
}
