body{
    align-items: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    width: 1440px;
    height: 1024px;
    border: 2px solid black;
    background-image: url(imagenes/imagenfondocarta50.jpg);
    background-repeat: no-repeat;
    background-position: center;
}