body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  width: 1313px;
  max-width: 900px;
  text-align: left;
}
h1 {
  font-size: 2em;
}
.contenido {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.texto {
  max-width: 400px;
}
.boton {
  display: inline-block;
  padding: 12px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 16px;
}
.imagen {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

img {
  width: 100%;
}
