body{
    border: 1px solid #252525;
    width: 1500px;
    height: 800px;
    display: flex;
    justify-content: center;
    margin-left: 200px;
}

.texto{
    margin-left: -100px;
    font-family: Roboto Mono;
}

.texto p{
    width: 400px;
}

h1{
    font-size: 60px;
    width: 10px;
}

.boton{
    width: 150px;
    height: 50px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 40px;
    cursor: pointer;
    background-color: #333333;
    color: white;
    border: none;
    font-family: Roboto Mono;
}

.imagen{
    margin-left: 500px;
    margin-top: -1500px;
}

