body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  margin: 0;
  align-items: center;
  min-height: 100vh;
}

.carta {
  width: 1440px;
  height: 1024px;
  display: flex;
  justify-content: center;
  background: url("imagenes/ImagenFondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid #252525;
}

.container{
    width: 676px;
    height: 418px;
    text-align: center;
    margin-top: 200px;
}

.titulo{
    font-size: 80px;
    width: 676px;
    height: 192px;
}

.texto{
    line-height: 32px;
    font-size: 24px;
    width: 632px;
    height: 96px;
}

.boton{
    background-color: #06040A;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    width: 222px;
    height: 66px;
    font-size: 22px;
}
