body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
}

.container{
    border: 2px solid #252525;
    width: 1440px;
    height: 1024px;
    background-image: url(imagenes/imagen2carta36.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-color: #111111;
}

.fondo-negro{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #111111;
    opacity: 0.5;
    top: 0;
}

.titulo{
    color: white;
}

.container2{
    position: relative;
    z-index: 100;
}