* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
}

.carta {
  width: 1200px;
  height: 800px;
  display: flex;
  justify-content: center;
  background: url("imagenes/ImagenFondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  margin-top: 70px;
}

.container{
    width: 500px;
    text-align: center;
}

.titulo{
    font-size: 50px;
    margin-bottom: 20px;
}

.texto{
    margin-bottom: 20px;
    line-height: 1.6;
}

.boton{
    border: none;
    padding: 12px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
