* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 50px;
    background-color: #f9f9f9;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.texto{
    max-width: 400px;
}

.boton {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

.container2 {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.imagenes {
    text-align: center;
    display: flex;
}