body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Avenir';
}

.container {
  width: 1440px;
  height: 954px;
  padding: 50px;
  padding-bottom: 40px;
  border: 2px solid black;
}

.container h1 {
  font-size: 88px;
  width: 531px;
  margin-top: 0;
}

.imagenes{
  display: flex;
  gap: 45px;
}

.imagenes img{
  width: 400px;
  height: 345px;
}

span{
  width: 38px;
  height: 44px;
  font-size: 32px;
  color: #686868,;
}

.container img {
  width: 300px;
}

.imagenes p{
  width: 400px;
  height: 80px;
}