body {
  background-image: url(imagenes/Fondo.png);
  font-family: "Lato";
  background-repeat: no-repeat;
}

h1 {
  width: 495px;
  height: 230px;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 1%;
  margin-left: 150px;
  margin-top: 200px;
}

.general{
    
}

p {
  width: 495px;
  height: 120px;
  margin-left: 150px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  margin-top: -40px;
}

.boton {
  margin-left: 150px;
  width: 220px;
  height: 70px;
  border-radius: 40px;
  gap: 10px;
  background-color: #333333;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 20px;
}

.imagen {
  width: 490px;
  height: 600px;
  margin-top: -500px;
  margin-left: 800px;
  border-radius: 800px;
}

.estrella1 {
  width: 140px;
  height: 150px;
  margin-left: 1200px;
  margin-top: -230px;
}

.borde{
    width: 500px;
    height: 800px;
    margin-top: 100px;
    margin-left: 750px;
    border-radius: 800px;
    border: 1px;
    margin-top: -650px;
}
